h1, h2 {
    display: flex;
    justify-content: center;
    
}
h1 {
    font-size: 50px;
}
body {
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/04/12/330551/185c99304364bba58fe8bfe3765fcf64.jpg);
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: ghostwhite;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}
/* code for fade in animations provided by 
https://blog.hubspot.com/website/css-fade-in */
.game-canvas{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}
#endModal {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}
#row1 {
    display: flex;
    justify-content: flex-end;
}
/* help with the CSS for column alignment from 
https://coder-coder.com/display-divs-side-by-side/ */
.row {
    width: 40%;
    float: left;
    padding: 50px;
}

/* stylings for submission form and buttons modified and styled after
https://git.generalassemb.ly/seir-9-21/student-resources/tree/master/1_front_end_development/w03d02/student_labs/todo_app */
#register {
    height: 30px; 
    width: 100px;
    border: 10px black;
    border-radius: 50px;
	background-color: navy;
	color: white;
}
.modalbutton {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
.namebox {
    height: 23px; 
    width: 200px;
}
#but1, #button {
    height: 40px; 
    width: 250px;
    font-size: 15px;
    border: 10px black;
    border-radius: 50px;
	background-color: navy;
	color: white;
}
/* flexwrap used provided by 
https://developer.mozilla.org/en-US/docs/Web/CSS/flex-flow */
/* correct useage of filepathing (../) to retrieve the enemy ship image
provided by https://stackoverflow.com/questions/20047364/how-to-give-the-background-image-path-in-css */
.enemyFleet>div {
    display: flex;
    justify-content: right;
    flex-direction: column;
    content: url('../images/enemyship.PNG');
    font-size: 15px;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 0px;
    /* z-index: 10; */
    color: white;
    line-height: 100px;
    cursor: pointer;
}
.enemyFleet {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 300px;
    height: 400px;
}
#modal1, #endModal{
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
}
#endModalText {
    background-color: white;
    color: black;
	height: 350px;
	width: 550px;
    border-radius: 2px;
    margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#modal1text {
    background-color: white;
    color: black;
	height: 750px;
	width: 550px;
    border-radius: 2px;
    margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
#intro {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}
.fleebattle {
    display: inline-block;
    position: relative;
}


/* #help {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#helpbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
} */
/* .row>div {
    margin: 3px;
    border: solid 3px black;
    display: inline-block;
    font-size: 35px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    vertical-align: top;
    line-height: 100px;
    background-color: orange;
} */

/* Animation Parameters */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }