h1, h2 {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 50px;
}
body {
    /* background-image: url('/images/starfield2.jpg'); */
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/04/12/330551/185c99304364bba58fe8bfe3765fcf64.jpg);
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: ghostwhite;
}
/* body, body>div {
    background-image: url('/images/starfield2.jpg');
} */
/* .game-canvas{
    display: inline-block;

} */
#row1 {
    display: flex;
    justify-content: flex-end;
}
/* help with the CSS for column alignment from 
https://coder-coder.com/display-divs-side-by-side/ */
.row {
    width: 40%;
    float: left;
    padding: 50px;
}

/* stylings for submission form and buttons modified and styled after
https://git.generalassemb.ly/seir-9-21/student-resources/tree/master/1_front_end_development/w03d02/student_labs/todo_app */
#register {
    height: 30px; 
    width: 100px;
    border: 10px black;
    border-radius: 50px;
	background-color: navy;
	color: white;
}
.namebox {
    height: 23px; 
    width: 200px;
}
#but1 {
    height: 40px; 
    width: 250px;
    font-size: 15px;
    border: 10px black;
    border-radius: 50px;
	background-color: navy;
	color: white;
}
/* flexwrap used provided by 
https://developer.mozilla.org/en-US/docs/Web/CSS/flex-flow */
.enemyFleet>div {
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin: 3px;
    border: solid 3px black;
    font-size: 15px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    line-height: 100px;
    background-color: orange;
}
.enemyFleet {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 300px;
    height: 400px;
}

/* #help {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#helpbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
} */
/* .row>div {
    margin: 3px;
    border: solid 3px black;
    display: inline-block;
    font-size: 35px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    vertical-align: top;
    line-height: 100px;
    background-color: orange;
} */